
@{
    ViewBag.Title = "LienHe - Thực Tập Nhóm";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div>
    <div class="container" style="margin: 50px auto;height:500px">
        <div class="text-center">
            <h2>Liên hệ - Thực Tập nhóm</h2>
        </div>
        <div class="text">
            <div class="col-8">
                <table class="table tab-content">
                    <tr>
                        <th>Mã Sinh Viên</th>
                        <th>Tên thành viên</th>
                        <th>Lớp</th>
                        <th>Email</th>
                        <th>Ngày sinh</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>17150136</td>
                            <td>Bùi Hoàng Lam</td>
                            <td>CNTT16B</td>
                            <td>buihoanglam99@gmail.com</td>
                            <td>13/01/1999</td>
                        </tr>
                        <tr>
                            <td>17150144</td>
                            <td>Trần Văn Linh</td>
                            <td>CNTT16B</td>
                            <td>Linhtran.cbx9@gmail.com</td>
                            <td>22/01/1999</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<style>
    .text .col-8 {
        margin: 20px auto;
    }

        .text .col-8 th {
            background: #158930;
            color: #ffff;
        }
</style>